.App {
  text-align: center;
}

.posts-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  background-color: antiquewhite;
}

.post {
  margin: 20px;
  padding: 20px;
  width: 400px;
  height: auto;
  background-color: whitesmoke;
  text-align: start;
}
